@import '../../styles/colors';
@import '../../styles/fonts';

div.toolbar {
	background-image: linear-gradient(to bottom, $grey-darkest 90%, rgb(0 0 0 / 0%));
	min-height: 3.5em;
	position: relative;

	&:after {
		content: '';
		clear: both;
		display: table;
	}

	h1, button {
		font-size: 1.2em;
		margin: 0.4rem;
		height: 2.4rem;
	}

	h1 {
		display: inline-block;
		line-height: 2;

		div.title {
			font-size: inherit;
			line-height: inherit;
		}
	}

	button {
		float: left;
		position: relative;
		padding: 0;

		&.right {
			float: right;
		}
	}
}
