@import '../../../styles/colors';
@import '../../../styles/fonts';

div.itemEdit {
	flex: 1;
	cursor: default;
	border: none;
	text-align: center;

	button.dueDate {
		display: block;
		margin: 1% auto;
	}

	label {
		button#tagAdd {
			display: none;
			position: absolute;
			bottom: 47px;
			right: 2.5%;
			margin: 0;

			&:before {
				@mixin fontAwesomeSolid;

				pointer-events: none;
				content: '\f067';
			}

			&:hover {
				top: unset;
				bottom: 48px;
			}

			&:active,
			&.active,
			&.pressed {
				top: unset;
				bottom: 46px;
			}
		}

		textarea {
			resize: vertical;
		}
	}

	div.postLabel,
	button.postLabel {
		margin-top: 0;
	}
}