@import '../../styles/colors';

label.label {
	position: relative;
	display: block;
	font-size: 1em;
	width: 80%;
	margin: 0 auto 12px;
	border-left: 3px solid $grey-lightest;
	padding: 3px 12px;
	background-color: $grey-darkest;

	& > *:last-of-type {
		margin: 12px 0;
	}
}
