@import '../../styles/colors';
@import '../../styles/fonts';

ul.list {
	list-style: none;
	padding: 0;
	flex: 1;
	overflow-y: auto;

	& > li {
		position: relative;
		font-size: 20px;
		border: 2px solid $grey-light;
		border-radius: 3px;
		margin: 0.4rem;
		cursor: pointer;
	}
}
