// includes baseline colors augmented-ui dom fonts scrollbar buttons toolkit list tags calendar

/* div#wrapper {
	height: 100%;

	.fs-xxxl {
		font-size: 42px;
	}
	.fs-xxl {
		font-size: 38px;
	}
	.fs-xl {
		font-size: 32px;
	}
	.fs-l {
		font-size: 28px;
	}
	.fs-s {
		font-size: 16px;
	}
	.fs-xs {
		font-size: 12px;
	}
} */

li#edit {
	cursor: default;
	border: none;
	text-align: center;

	button.dueDate {
		display: block;
		margin: 1% auto;
	}

	label {
		position: relative;
		display: block;
		font-size: 1cm;
		width: 80%;
		margin: 0 auto 0.1cm;

		&.showTagAdd {
			button#tagAdd {
				display: block;
			}

			input[type="text"] {
				margin: 0 2.5%;
				width: 80%;
			}
		}

		button#tagAdd {
			display: none;
			position: absolute;
			top: 1.42cm;
			right: 2.5%;
			margin: 0;

			&:before {
				@mixin fontAwesomeSolid;

				pointer-events: none;
				content: "\f067";
			}

			&:hover {
				top: 2.38em;
			}

			&:active, &.active, &.pressed {
				top: 2.52em;
			}
		}

		input[type="text"] {
			margin: 0 auto;
			width: 95%;
			font-size: 0.8cm;
		}

		textarea {
			width: 95%;
			margin: 0 auto;
			resize: vertical;
			font-size: 0.8cm;
		}
	}

	div.postLabel, button.postLabel {
		margin-top: 0;
	}
}

@media (min-height: 18cm) {
	div#toolkit {
		height: 10%;

		div, button {
			height: 8vh;
			font-size: 5vh;
		}

		div {
			line-height: 8vh;
		}

		button {
			width: 8vh;
		}
	}

	ul#list {
		height: 90%;
	}
}

@media (min-height: 22cm) {
	div#toolkit {
		height: 7%;

		div, button {
			height: 5vh;
			font-size: 3vh;
		}

		div {
			line-height: 5vh;
		}

		button {
			width: 5vh;
		}
	}

	ul#list {
		height: 93%;
	}
}

@media (min-height: 32cm) {
	div#toolkit {
		height: 5%;

		div, button {
			height: 3vh;
			font-size: 1.5vh;
		}

		div {
			line-height: 3vh;
		}

		button {
			width: 3vh;
		}
	}

	ul#list {
		height: 95%;
	}
}

@media (min-height: 44cm) {
	div#toolkit {
		height: 3%;

		div, button {
			height: 2vh;
			font-size: 1vh;
			margin: 0.5vh;
		}

		div {
			line-height: 2vh;
		}

		button {
			width: 2vh;
		}
	}

	ul#list {
		height: 97%;
	}
}