// includes baseline colors augmented-ui dom fonts scrollbar button toolbar list tags calendar list_item_edit

@media (min-height: 18cm) {
	div#toolbar {
		height: 10%;

		h1,
		div,
		button {
			height: 8vh;
			font-size: 5vh;
		}

		h1,
		div {
			line-height: 8vh;
		}

		button {
			width: 8vh;
		}
	}

	ul#list {
		height: 90%;
	}
}

@media (min-height: 22cm) {
	div#toolbar {
		height: 7%;

		h1,
		div,
		button {
			height: 5vh;
			font-size: 3vh;
		}

		h1,
		div {
			line-height: 5vh;
		}

		button {
			width: 5vh;
		}
	}

	ul#list {
		height: 93%;
	}
}

@media (min-height: 32cm) {
	div#toolbar {
		height: 5%;

		h1,
		div,
		button {
			height: 3vh;
			font-size: 1.5vh;
		}

		h1,
		div {
			line-height: 3vh;
		}

		button {
			width: 3vh;
		}
	}

	ul#list {
		height: 95%;
	}
}

@media (min-height: 44cm) {
	div#toolbar {
		height: 3%;

		h1,
		div,
		button {
			height: 2vh;
			font-size: 1vh;
			margin: 0.5vh;
		}

		h1,
		div {
			line-height: 2vh;
		}

		button {
			width: 2vh;
		}
	}

	ul#list {
		height: 97%;
	}
}
