// includes colors

ul#list {
	height: 88%;
	overflow-y: auto;

	li {
		position: relative;
		font-size: 0.8cm;
		border: 0.01cm solid $white;
		margin: 0.2cm;
		padding: 0.1cm;

		&.listItem,
		&.list {
			cursor: pointer;

			div.description,
			div.dueDate {
				pointer-events: none;
				font-size: 0.4cm;
			}

			button.edit {
				position: absolute;
				right: 0;
				top: 0;
				height: 1cm;
				width: 1cm;
				background-color: $blue;
				border-bottom-left-radius: 0.1cm;
				font-size: 0.5cm;
				margin: 0.16cm;

				&:before {
					@mixin fontAwesomeSolid;

					pointer-events: none;
					content: '\f044';
					position: absolute;
					top: 0.25cm;
					left: 0.25cm;
				}
			}
		}

		&.list {
			text-indent: 0.1cm;
		}

		&.listItem {
			&.pointerHold {
				background-color: $green;
				transform: scale(1.3);
				transition: all 2s;
			}

			select {
				padding: 0.8vw;
				display: block;
				margin: 0 auto;
				border-radius: 0.15em;
			}
		}
	}
}
