// includes colors fonts

ul#list {
	height: 88%;
	overflow-y: auto;

	li {
		position: relative;
		font-size: 0.8cm;
		border: 0.01cm solid $white;
		margin: 0.2cm;
		padding: 0.1cm;

		&.list {
			cursor: pointer;
		}

		&.listItem,
		&.list {
			div.description {
				white-space: pre-wrap;
			}

			div.description,
			div.dueDate {
				pointer-events: none;
				font-size: 0.4cm;
			}

			button.complete,
			button.edit {
				position: absolute;
				height: 1cm;
				width: 1cm;
				font-size: 0.5cm;
				margin: 0.16cm;

				&:before {
					position: absolute;
					top: 0.25cm;
					left: 0.25cm;
				}
			}

			button.complete {
				right: 0;
				bottom: 0;

				&:hover {
					top: unset;
					bottom: 1px;
				}

				&:active,
				&.active,
				&.pressed {
					top: unset;
					bottom: -1px;
				}

				&:before {
					content: '\f00c';
				}
			}

			button.edit {
				right: 0;
				top: 0;

				&:hover {
					top: -1px;
				}

				&:active,
				&.active,
				&.pressed {
					top: 1px;
				}

				&:before {
					content: '\f044';
				}
			}
		}

		&.list {
			text-indent: 0.1cm;
		}

		&.listItem {
			&.pointerHold {
				background-color: $green;
				transform: scale(1.3);
				transition: all 2s;
			}

			&.dueSoon {
				background-color: $yellow;
			}

			&.overdue {
				background-color: $red;
			}

			select {
				padding: 0.8vw;
				display: block;
				margin: 0 auto;
				border-radius: 0.15em;
			}
		}
	}
}
