::-webkit-scrollbar {
	width: 0.5cm;
	height: 0.5cm;
}
::-webkit-scrollbar-button {
	width: 4px;
	height: 4px;
}
::-webkit-scrollbar-thumb {
	background: $grey-darkest;
	-webkit-box-shadow: inset 0 0 0.1cm 0.05cm $blue;
	border-radius: 0.5cm;
}
::-webkit-scrollbar-thumb:hover {
	-webkit-box-shadow: inset 0 0 0.15cm 0.05cm $blue;
}
::-webkit-scrollbar-thumb:active {
	-webkit-box-shadow: inset 0 0 0.25cm 0.1cm $blue;
}