div#toolkit {
	background-image: linear-gradient(to bottom, $grey-darkest 90%, rgb(0 0 0 / 0%));
	height: 12%;
	position: relative;

	&:after {
		content: '';
		clear: both;
		display: table;
	}

	div,
	button {
		float: left;
		height: 9vh;
		font-size: 5vh;
		margin: 1vh;
	}

	div {
		line-height: 9vh;
	}

	button {
		position: relative;
		padding: 0;
		width: 9vh;

		&:before {
			@mixin fontAwesomeSolid;

			pointer-events: none;
		}

		&#lists:before {
			content: '\f03a';
		}

		&#calendar:before {
			content: '\f073';
		}

		&#home:before {
			content: '\f015';
		}

		&#add:before {
			content: '\f067';
		}

		&#filter:before {
			content: '\f0b0';
		}

		&#sort:before {
			content: '\f0dc';
		}

		&#save:before {
			content: '\f0c7';
		}

		&#delete:before {
			content: '\f2ed';
		}
	}
}
