div#toolbar {
	background-image: linear-gradient(to bottom, $grey-darkest 90%, rgb(0 0 0 / 0%));
	min-height: 3.5em;
	position: relative;

	&:after {
		content: '';
		clear: both;
		display: table;
	}

	h1, button {
		font-size: 1.2em;
		margin: 0.4rem;
		height: 2.4rem;
	}

	h1 {
		display: inline-block;
		line-height: 2;
	}

	button {
		float: left;
		position: relative;
		padding: 0;
		width: 2.4rem;

		&.right {
			float: right;
		}

		&:before {
			@mixin fontAwesomeSolid;

			pointer-events: none;
		}

		&#lists:before {
			content: '\f03a';
		}

		&#back:before {
			content: '\f060';
		}

		&#calendar:before {
			content: '\f073';
		}

		&#home:before {
			content: '\f015';
		}

		&#add:before {
			content: '\f067';
		}

		&#edit:before {
			content: '\f044';
		}

		&#filter:before {
			content: '\f0b0';
		}

		&#save:before {
			content: '\f0c7';
		}

		&#delete:before {
			content: '\f2ed';
		}
	}
}
